@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
header {
  background-color: #070707;
  color: #ffffff;
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #f44336;
}

nav li::before {
  background-color: #f44336;
  content: '';
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.2s ease-in-out;
  width: 0;
}

nav li:hover::before {
  transform: translateX(-50%) scaleX(1);
  width: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
}
