header {
  background-color: #070707;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
